body {
    font-family: Arial, Helvetica, sans-serif;
}

.card-box {
    height: 33rem;
    width: 25%;
    border-radius: 7px;
    background: #0c2237;

}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#auction {
    border: 2px solid #764f4f;
}


.top-section button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 23px;
    color: white;
    text-align: center;
    padding: 7px 10px;
    font-size: 16px;
    margin-top: 20px
}

.img-section {
    text-align: center;

}

.img-section img {
    height: 200px;
    width: 90%;
    object-fit: cover;
    margin-top: 25px;
    border-radius: 7px;
}

.citizen-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #bbd0d9;
    margin-top: 12px;
}

.enoch h3 {
    margin: 4px;
}

.enoch span {
    color: #376183;
    font-size: larger;
    font-weight: bolder;
}

.heart-section {
    display: flex;
    align-items: center;
    gap: 5px;

}

.doller-section {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    margin-top: 23px
}

.doller {
    height: 65px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #293665;
    text-align: center;
    background-color: #141a30;
}

.doller,
.doller-2,
h3,
h2 {
    margin: 0;
}

.doller h3 {
    color: green;
}

.doller-2 {
    height: 65px;
    width: 50%;
    border: 1px solid #676b6f;
    text-align: center;
    background-color: #141a30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doller-2 h3 {
    color: #65859b;
}

.bid-now {
    text-align: center;
    margin-top: 25px;
}

.bid-now button {
    background-color: #0077ff;
    border: none;
    color: white;
    padding: 15px 117px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.bid-now button {
    font-size: large;

}